.block{
    flex-wrap: wrap;
}
#menu li:after {
    padding: 15px;
    content: "/";
    color: grey;
}
#menu {
    padding: 7px;
}
.block--upper {
    display: flex;
    height: 30px;
}
#menu li{
    display: inline;
}
#checkout {
    flex-grow: 7;
}
#check {
    font-weight: bold;
}
#pay {
    font-weight: bold;
}
#list {
    flex-grow: 25;
    font-style: bold;
}
#icon {
    flex-grow: 0.1;
    align-items: center;
}
#payment {
    flex-grow: 3;
}
#cart {
    flex-grow: 2;
    background-color: lightgray;
}
.block {
    border: 0.5px solid lightgray;
    margin: 30px;
    box-shadow: 5px 10px 8px #888888;
}
#close {
    padding: 7px;
}
h1 {
    padding: 7px;
}
#menu li:last-child:after {
    content: "";
}
.block--lower {
    border-top: 0.5px solid lightgray;
    display: flex;
    height: 30px;
}